p {
    font-size: 20px;
    font-weight: bold;
}

div {
    width: 100px;
    height: 100px;
    background-color: #ddd;
}
.red {
    border: 5px solid #f33;
    padding: 20px;
    /* dentro do elemento */
}

.gray {
    border: 5px solid blue;
    margin: 50px;
    /* fora do elemento*/
  
}